[user]
	email = tikhon@jelv.is
        name = Tikhon Jelvis
[color]
	ui = always
[core]
	pager = epage
[alias]
        start = !git clone ~/template
[merge]
        tool = ediff
[mergetool "ediff"]
        cmd = ~/local/bin/ediff $LOCAL $REMOTE $MERGED $BASE
        trustExitCode = true
[filter "localhost"]
	smudge = "sed 's|https://app.esper.com|http://app.esper.com:8017|'"
	clean = "sed 's|http://app.esper.com:8017|http://app.esper.com|'"
